@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@keyframes bell-ring {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.text-color-blue {
  color: #0069ab;
}

.bg-color-blue {
  background-color: #0069ab;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 10;
  width: auto !important;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid rgba(129, 129, 141, 0.5);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  border: 2px solid blue;
}

.swiper-pagination-bullet-active::after {
  background-color: blue;
}

button,
a {
  cursor: pointer;
}

button:hover ~ .fixed,
a:hover ~ .fixed {
  transform: scale(1.5);
  background-color: rgba(255, 255, 255, 0.2);
}

.bell-shake {
  animation: bell-ring 0.8s;
}

@layer utilities {
  .animate-gradient {
    animation: gradientShift 6s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .mask-gradient {
    mask-image: linear-gradient(to bottom, transparent, white 40%, white 60%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, white 40%, white 60%, transparent);
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
